<%- include('header') %> 
<% dataProduct %>
<% session %> 
<% rupiah %> 

<div style="max-width: 70%; margin: auto;">

<div class="column1">
    <h3 style="color: red;"> Hello, <%= session.userName %> </h3>
    <a class="color" href="/profile/add "> <p> My Account </p></a>
    <a class="color" href="/logOut"> <p> Logout </p></a>
    <h2>Categories</h2>
    <a class="color" href="/product/user"> <p> All </p></a>
    <% dataProduct.forEach(category => { %>
      <a class="color" href="/product/user?categoryId=<%= category.id %>"><p> <%= category.name %>  </p></a>
    <% }) %>
</div>

<div class="column2">
    <div class="row">
      <% dataProduct.forEach(product => { %>
        <% product.Products.forEach(e=> {%>
        <div class="column"> 
          <div class="card">
             <img src="<%= e.imageUrl  %>" alt="Avatar" style="width: 100%;"/>
            <p><%= e.name  %></p>
            <p style="color: red; font-weight: bold;"><%= rupiah(e.price)  %></p>
          </div>
        </div>
        <% }) %>
      <% }) %>
    </div>
</div>

<%- include('footer') %> 